OASendALarm/OA_Model/src/mypackage/ModeDateService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost/services/ModeDateService" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost/services/ModeDateService" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://localhost/services/ModeDateService">
<xsd:element name="getModeDataByID">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" type="xsd:int"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" type="xsd:int"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" type="xsd:int"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in4" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getModeDataByIDResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="deleteModeDataById">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" type="xsd:int"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" type="xsd:int"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" type="xsd:int"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="deleteModeDataByIdResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getAllModeDataList">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" type="xsd:int"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" type="xsd:int"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" type="xsd:int"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" type="xsd:int"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in4" type="xsd:int"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in5" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in6" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in7" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getAllModeDataListResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="saveModeData">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="saveModeDataResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getAllModeDataCount">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" type="xsd:int"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" type="xsd:int"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in2" nillable="true" type="xsd:string"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in3" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getAllModeDataCountResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getModeDataByIDResponse">
    <wsdl:part name="parameters" element="tns:getModeDataByIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveModeDataRequest">
    <wsdl:part name="parameters" element="tns:saveModeData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getModeDataByIDRequest">
    <wsdl:part name="parameters" element="tns:getModeDataByID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveModeDataResponse">
    <wsdl:part name="parameters" element="tns:saveModeDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllModeDataCountResponse">
    <wsdl:part name="parameters" element="tns:getAllModeDataCountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteModeDataByIdRequest">
    <wsdl:part name="parameters" element="tns:deleteModeDataById">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteModeDataByIdResponse">
    <wsdl:part name="parameters" element="tns:deleteModeDataByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllModeDataListRequest">
    <wsdl:part name="parameters" element="tns:getAllModeDataList">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllModeDataCountRequest">
    <wsdl:part name="parameters" element="tns:getAllModeDataCount">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllModeDataListResponse">
    <wsdl:part name="parameters" element="tns:getAllModeDataListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ModeDateServicePortType">
    <wsdl:operation name="getModeDataByID">
      <wsdl:input name="getModeDataByIDRequest" message="tns:getModeDataByIDRequest">
    </wsdl:input>
      <wsdl:output name="getModeDataByIDResponse" message="tns:getModeDataByIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteModeDataById">
      <wsdl:input name="deleteModeDataByIdRequest" message="tns:deleteModeDataByIdRequest">
    </wsdl:input>
      <wsdl:output name="deleteModeDataByIdResponse" message="tns:deleteModeDataByIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllModeDataList">
      <wsdl:input name="getAllModeDataListRequest" message="tns:getAllModeDataListRequest">
    </wsdl:input>
      <wsdl:output name="getAllModeDataListResponse" message="tns:getAllModeDataListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveModeData">
      <wsdl:input name="saveModeDataRequest" message="tns:saveModeDataRequest">
    </wsdl:input>
      <wsdl:output name="saveModeDataResponse" message="tns:saveModeDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllModeDataCount">
      <wsdl:input name="getAllModeDataCountRequest" message="tns:getAllModeDataCountRequest">
    </wsdl:input>
      <wsdl:output name="getAllModeDataCountResponse" message="tns:getAllModeDataCountResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ModeDateServiceHttpBinding" type="tns:ModeDateServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getModeDataByID">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getModeDataByIDRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getModeDataByIDResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteModeDataById">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="deleteModeDataByIdRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteModeDataByIdResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllModeDataList">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getAllModeDataListRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllModeDataListResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveModeData">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="saveModeDataRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveModeDataResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllModeDataCount">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getAllModeDataCountRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllModeDataCountResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ModeDateService">
    <wsdl:port name="ModeDateServiceHttpPort" binding="tns:ModeDateServiceHttpBinding">
      <wsdlsoap:address location="http://192.168.68.172:8008/services/ModeDateService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
